.item-wrap{
    text-align: center;
    align-items: center;
}

.select-btn {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.link{
    text-decoration: none;
    color:#fff;
}

.stage-btn{
    width: 200px;

}